@page "/Especialidades/Crear"
@inject IHttpService http
@inject NavigationManager navigationManager

<h3>Crear</h3>
<FormEspecialidad especialidad="especialidad" onCancel="Cancelar" onValidSubmit="Grabar"/>




@code {
    private Especialidad especialidad = new Especialidad();
    private async void Grabar()
    {
        var httpRespuesta = await http.Post<Especialidad>("api/Especialidades", especialidad);
        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("/Especialidades");
    }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/Especialidades");

    }
}